body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}
nav {
    background-color: #a1e169;
    padding: 0.5rem;
}
 
nav ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
  }
  nav ul li a {
    text-decoration: none;
    color: #026915;
    margin: 1rem;
    font-size: 1.25rem;
    transition: all 0.3s ease;
    font-weight: bold;
  }
  h1.title{
    color: #007808;
    display: flex;
    margin: 0px;
    justify-content: center;
    font-size: 2rem;
  }
